html { 
  font-family:'Josefin Sans',arial,serif;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0px;
  color:#444;
}
#wrapper {
  width: 700px;
  margin: 0 auto;
  padding: 30px 50px;
}
.narrow {
  width:340px;
  display:inline-block;
}

#work{
  padding-bottom:1em;
}

h1 {
  font-size: 55px;
  margin:0px;
}
h2 {
  font-size:24px;
}
h1, h2 {
  font-weight: normal;
  position: relative;
}
p, div {
  font-size: 18px;
  line-height: 1.2;
  width:700px;
}

#logo{
  background:url("/images/tri.png");
  position:absolute;
  top:-25px;
  left:480px;
  width:200px;
  height:180px;
}  
#divider {
    background:url("/images/divider.png");
    width:700px;
    height:4px;
    margin-bottom:1em;
  }

#header-bar {
    display:none;
    background-color:#343838;
    height:10px;
    width:100%;
    position:fixed;
    top:0px;
}
  
#two-col{
  display:block;
  position:relative;
  
}
#quotes {
  position:absolute;
  left:360px;
}
#contact {
  margin-bottom:2em;
}
.quotes {
  width:inherit;
}
ul, menu, dir {
  -webkit-padding-start:0px;
}

li {
  padding-bottom:.5em;
}

em {
	background: #008C9E;
}

::selection {
	background: rgba(255, 255, 255, 0); 
	color: #008C9E;
}
em::selection  {
	background: #ffeeff !important;
	color: #ffffff !important;
}
::-moz-selection {
	background: rgba(255, 255, 255, 0);
	color: #008C9E;
}
em::-moz-selection {
	background: #ffeeff !important;
	color: #ffffff !important;
}

.work{
  font-size: 16px;
  list-style:none;
  text-align:right;
}
.work h2{
  text-align:left;
}

h2{
  margin:0px;
}

a{
  padding:0px;
  margin:0px;
  color:#000000 !important;
  border-bottom:0px !important;
  text-align:left !important;
  text-decoration:none;
}

a:hover{
  background: #008C9E;
  color: #fff !important;
}
